
nav{
    background-color: black;
}

p{
    color: black;
}

body{
    background-color: #ffdca9;
}

/* uso un estilo para que las imágenes del carrusel se adapten correctamenete*/

img{
    width: 100%;
}

.bienvenida{
    background: url('img/Bienvenidos.png') no-repeat center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;

}

/* Estilo para las celdas de la tabla*/

th{
    text-align: center;
}

td{
    text-align: center;
}

/* Estilo para los colores de los textos principales */

span{
    color: white;
}

.custom-span{
    color: #000000;
    font-weight: bold;
    font-size: large;
    
}

/* Como bootstrap no tiene todos los colores para los botones, lo estilo para buscar el que quiero*/
.btn-block{
    background-color: #5c150a;
}

.btn-modal {
    background-color: #5c150a;
}
/* Igual que el anterior pero para la página del desplegable*/
.dropdown-menu{
    background-color: #5c150a;
    
}
/* Los item del desplegable*/
.dropdown-item{
    background-color: #5c150a;
}

/* Aqui instalo una fuente que no viene por defecto para lograr el estilo que busco en la web*/

 @font-face {
    font-family: 'Africa';
    src: url('fonts/Africa.ttf');
 }

 /* le añado una nueva fuente con la clase "Africa" enlazado al texto de antes*/

 .africa{
    font-family: 'Africa';
 }

 /* Estilo el hover del desplegable ya que me ponía un color por defecto que quedaba como quería*/
 .navbar-dark .navbar-nav .dropdown-item:hover {
    background-color: #000;
}


footer h6 {
    margin-bottom: 2em;
    border-top: 1px solid white;
    border-bottom: 1px solid white
  }
  
  
  footer{
    background-color: black;
 }
 
 footer p{
     color:white
 }



